<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

<h1>Ready To Add</h1>

<form action="AddSong" method="post"> 
		<fieldset>
			<legend>Adding Song</legend>
			<div>
				<label>Name : </label>
				<input type="text" name="name" placeholder="Enter songname" ><br>
				
				<label>Artist : </label>
				<input type="text" name="artist" placeholder="Enter ArtistName" ><br>
				
				<label>Genre : </label>
				<input type="text" name="genre" placeholder="Enter Genre type" ><br>
			
				<label>Link : </label>
				<input type="text" name="link" placeholder="Enter the link" ><br>
				<br>
				
				<input type="submit" value="Add songs">
			</div>
		</fieldset>
	</form>

</body>
</html>