<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

<h1> displaying all playlists</h1>

<table border>
<thead>
<tr>
<th>Name </th>
<th>songs </th>
</tr></thead>
<tbody>
<tr th:each="plist:${playlist}">
<td th:text="${plist.name}"></td>
<td >
<ul>

<li th:each="song:${plist.songs}" >
<span th:text="${song.name}"></span>
<audio controls>
<source th:src="${song.link}" type="audio/mpeg">
</audio>

</li>
</ul>

</td>

</tr>
</tbody>



</table>

</body>
</html>