<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<form action="register" method="post"> 
		<fieldset>
			<legend>Register/SignUp</legend>
			<div>
				<label>username : </label>
				<input type="text" name="username" placeholder="enter username" ><br>
				<label>email : </label>
				<input type="email" name="email" placeholder="email" ><br>
				<label>password : </label>
				<input type="password" name="password" placeholder="password" ><br>
				<label>gender : </label>
				<input type="radio" name="gender">male
				<input type="radio" name="gender">Female
				<input type="radio" name="gender">other<br>
				<label>role : </label>
				<input type="radio" name="role" value="Admin">Admin
				<input type="radio" name="role" value="Customer">Customer
				<br>
				<label>address : </label>
				<textarea name="address"></textarea>
				<br>
				<input type="submit" value="Register">
			</div>
		</fieldset>
	</form>
</body>
</html>
